# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Distribution / Build
build/
dist/
*.spec

# IDEs
.vscode/
.idea/

# Project Specific
mpv.log
downloads/
library.json
Brain/
task.md.resolved
implementation_plan.md.resolved

# Debug Logs
crash.log
ui_critical_error.txt
action_error.txt
callback_error.txt
download_worker_error.txt


# OS
.DS_Store
Thumbs.db

# Notes
RELEASE_NOTES.md
SOCIAL_MEDIA.md